@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Wachtwoord resetten bevestiging";
}

<h1>@ViewData["Title"]</h1>
<p>
    Je wachtwoord is gereset. Klik <a asp-page="./Login">hier om in te loggen</a>.
</p>