@model string

<div class="btn btn-icon btn-bg-light" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model">
    <span>
        <img src="/assets/icons/InfoIcon.svg" alt="Info Icon"/>
    </span>
</div>