@{
    ViewBag.Title = "Resultaat importeren";
    Layout = "_Layout";
}

<h2>Gebruikers importeren</h2>

<p>Het is gelukt! Er zijn accounts aangemaakt voor alle ingevoerde medewerkers.</p>

<p>
    Alle medewerkers kunnen inloggen met hun ingevoerde gebruikersnaam of e-mailadres en wachtwoord
    <bold>
        <span class="text-active-info">BumboNederland123!</span>
    </bold>
</p>

<bold>
    <p class="text-danger">Laat de medewerkers hun wachtwoord zo snel mogelijk aanpassen via hun profiel. Hiermee voorkom je beveiligingsproblemen.</p>
</bold>

<bold>
    <p class="text-danger">De woonplaats van de medewerker kon niet opgehaald worden uit de CSV. Zorg ervoor dat je dit, indien nodig, nog handmatig instelt. Dit is vooral belangrijk bij het aanpassen van medewerkersgegevens, anders treden er fouten op.</p>
</bold>