@model List<Bumbo.Data.Models.ApplicationUser>

@{
    ViewBag.Title = "Gebruikersbeheer";
    Layout = "_Layout";
}

@section PageStyles
{
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>
}

@section PageScripts
{
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
    $("#kt_datatable_zero_configuration").DataTable({
    searchPanes: {
            layout: 'columns-2'
        },
    dom: 'Plfrtip'
    });
    </script>
}

<ol class="breadcrumb text-muted fs-6 fw-bold">
    <li class="breadcrumb-item pe-3">
        <a asp-controller="Home" asp-action="Index" class="pe-3">Home</a>
    </li>
    <li class="breadcrumb-item px-3 text-muted">Gebruikersbeheer</li>
</ol>
<br/>
<h2>Gebruikersbeheer</h2>
<div class="row justify-content-between">
    <div class="col">
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Registreer een nieuwe gebruiker</a>
    </div>
    <div class="col-2">
        <partial name="_ExtraMenu"/>
    </div>
</div>

<table id="kt_datatable_zero_configuration" class="table table-row-bordered gy-5">
    <thead>
    <tr>
        <th>Naam</th>
        <th>E-mail</th>
        <th>In dienst sinds</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FullName</td>
            <td>@user.Email</td>
            <td>@user.RegistrationDate.ToString("dd-MM-yyyy")</td>
            <td>
                <a asp-controller="UserManager" asp-action="UserDetails" asp-route-id="@user.Id">Details bekijken</a>
            </td>
        </tr>
    }
    </tbody>
</table>